<div class="hero">
  <div class="start-here col-6 offset-3 text-center">
    <h4>A Different Approach to Career Guidance</h4>
    <hr />
    <div class="row">
      <div class="col-12 col-sm-6 text-center path">
        <h5 id="discover-p">Discover Possibilities</h5>
        <%= link_to 'Explore', '#', class: 'btn btn-primary col-12' %>
      </div>
      <div class="col-12 col-sm-6 text-center path path-right">
        <h5>Share Your Experiences</h5>
        <%= link_to 'Contribute', '#', class: 'btn btn-primary col-12' %>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <h3>What's it really like?</h3>
</div>
