<div class="hero">
  <div class="start-here col-6 offset-3 text-center">
    <h4>A Different Approach to Career Guidance</h4>
    <hr />
    <div class="row">
      <div class="col-12 col-sm-6 text-center path">
        <h5 id="discover-p">Discover Possibilities</h5>
        <%= link_to 'Explore', '#', class: 'btn btn-primary col-12' %>
      </div>
      <div class="col-12 col-sm-6 text-center path path-right">
        <h5>Share Your Experiences</h5>
        <%= link_to 'Contribute', '#', class: 'btn btn-primary col-12' %>
      </div>
    </div>
  </div>
</div>

<div class="text-center col-12 col-sm-10 offset-sm-1 share-box">
  <h2>What's it really like?</h2>
  <p class="para-marg">There's no easy way to say it, the decision of which type career to pursue is hard. Whether you're
    a student seeking to plan out your next steps in life, or a seasoned worker who longs for a change of direction,
    deciding which path to take or which job to apply to can become quite the headache.</p>

  <hr class="faded faded-small" />

  <p class="para-marg">As you may well know, setting your eyes on a new job or career often requires a tremendous leap of faith. Your time,
    money, effort, education, and preparation ride on the wave of hope you have that you've made the right choice and have
    focused on the right things. Hopefully, in the end, most have done just that.</p>

  <hr class="faded faded-small" />

  <p class="para-marg">The world is full of information, and when it comes to your future career, the right information is priceless. While
    there is great benefit to learning about jobs and careers through textbooks, job descriptions, the classroom, and the
    internet in general, have you thought about learning from individuals who've actually been there?</p>

  <hr class="faded faded-small" />

  <p class="para-marg">RealWorkday exists for this very purpose. Here, you can discover what a real workday is like for a certain job or career.
    Let those who have lived it share their experiences with you. From the beginning of their day to the end, they will walk
    you through what doing their job really means. Think of it as a behind-the-scenes look that may give you one more powerful
    piece of information to consider when planning your future.</p>
</div>
