@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Satisfy');


body {
  background: image_url('fabric_of_squares_gray.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-color {
  background-color: white;
}

.navbar {
  border-bottom: 2px solid #093F61;
  box-shadow: 0px 1px 1px #2a2a2a;
}

.navbar-light a.navbar-brand {
  color: #093F61;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
  font-size: 1.75rem;
  padding-bottom: 0;
}

button, input, optgroup, select, textarea {
  margin-top: 3px;
}


.navbar-light a.navbar-brand:hover {
  color: #3881B0;
}

.navbar-light .navbar-toggler {
  border-color: #093F61;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.hero {
  background: image_url('hero2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 500px;
  border-bottom: 5px solid #093F61;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 30px;
  background-color: #2a2a2a;
  /*background-blend-mode: difference;*/
}

.start-here {
  background-color: rgba(207, 207, 207, 0.70);
  box-shadow: 0px 3px 8px #2a2a2a;
  top: 145px;
  padding: 10px;
  border-radius: 10px;
}

.hero h4 {
  color: #093F61;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
}

hr {
  margin-top: 5px;
  margin-bottom: 3px;
}

.path {
  padding-top: 10px;

}

.path h5 {
  padding-bottom: 5px;
}

.path-right {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #093F61;
  border-color: #173549;
}

.btn-primary:hover {
  background-color: #3881B0;
  border-color: #3881B0;
}

.btn:focus {
  color: white;
}

.btn {
  border-radius: 0;
}

@media (max-width: 575px) {
  .hero h4 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .hero h5 {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (min-width: 852px) and (max-width: 963px) {
  #discover-p {
    margin-top: 21px;
  }
}

.share-box {
  background-color: white;
  padding: 20px;
}

.faded {
  border: 0;
  height: 1px;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(to right, rgba(56, 129, 176, 0), rgba(56, 129, 176, 0.75), rgba(56, 129, 176, 0));
}

.faded-small {
  width: 10%;
}

.para-marg {
  margin-top: 1rem;
  text-align: justify;
}

.share-box h2 {
  color: #093F61;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
}

@media (min-width: 576px) {
  .faded-small {
    width: 5%;
  }
}
